<section id="contact" class="cv-section">
    <h2>Contact Me</h2>
    <div class="contact-item">
        <h3>Number:</h3>
        <a href="https://wa.me/573053387702"
        target="_blank" rel="noopener noreferrer">
            +57 305-3387702
        </a>
    </div>
    <div class="contact-item">
        <h3>Email:</h3>
        <a href="mailto:daniel.lopez9804@gmail.com">
            daniel.lopez9804@gmail.com
        </a>
    </div>
    <div class="contact-item">
        <h3>Other Links:</h3>
        <a href="https://www.linkedin.com/in/daniel-lopez-unity/"
        target="_blank" rel="noopener noreferrer">
            LinkedIn
        </a>
        <a href="https://dannte9804.itch.io/"
        target="_blank" rel="noopener noreferrer">
            Itch.io
        </a>
    </div>
</section>