<section id="education" class="cv-section">
    <div>
        <h2>Education</h2>
        <ul class="education-item-list">
            <li class="education-item">
                <h3 class="education-title">Unity Developer</h3>
                <p class="education-data">
                    Generation Colombia - Bogotá D.C, Colombia - May 2024
                </p>
            </li>
            <li class="education-item">
                <h3 class="education-title">Mechatronics Engineering</h3>
                <p class="education-data">
                    Universidad Militar Nueva Granada - Bogotá D.C, Colombia - Jun 2020
                </p>
            </li>
        </ul>
    </div>
    <div>
        <h2>Additional Training</h2>
        <ul class="education-item-list">
            <li class="education-item">
                <h3 class="education-title">Angular Basics</h3>
                <p class="education-data">
                    Self-learning - Bogotá D.C, Colombia - Sept 2026
                </p>
            </li>
            <li class="education-item">
                <h3 class="education-title">Typescript Basics</h3>
                <p class="education-data">
                    Self-learning - Bogotá D.C, Colombia - Sept 2026
                </p>
            </li>
            <li class="education-item">
                <h3 class="education-title">GDScript</h3>
                <p class="education-data">
                    Self-learning - Bogotá D.C, Colombia - Aug 2026
                </p>
            </li>
        </ul>   
    </div>
</section>